.todo {
  display: grid;
  gap: .5rem;
  border: 1px solid white;
  padding: 1rem;

  h2 {
    padding-bottom: .75rem;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: .5rem 0;

    li {
      border: 1px solid white;
      padding: .35rem .75rem;
      text-transform: capitalize;
    }
  }

  .remove-button {
    align-self: end;
  }
}
