.tagsGenerator {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  --border-color: #fff;

  label {
    display: flex;
    justify-content: end;
    gap: 0;
    width: 75%;

    input,
    button {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: var(--border-color);
      background-color: #2f3237;
    }

    input {
      border-left: 1px solid;
      border-right: none;
    }

    button {
      border-right: 1px solid;
      border-left: none;
      padding: 0 1rem;
    }

    input:focus,
    button:focus {
      border-top: 2px solid;
      border-bottom: 2px solid;
      border-color: var(--border-color);
    }

    input:focus {
      outline: none;
      border-left: 2px solid;
      border-right: none;
    }

    button:focus {
      outline: none;
      border-right: 2px solid;
      border-left: none;
    }
  }
}
